body{
    background-color:whitesmoke;
}

}
.card{
    background : whitesmoke;


}
ul{
    padding-top:10px;
    color: yellow;
}
li{
    color: whitesmoke;
}
a{
    color: Gold;
    text-decoration: none ;
}

h3{
    padding-top: 50px ;
    color: gray;
}
p{
    color:gray;
}
.btn{
    float:right;
    padding: 10px;
}
